#partners
{
    background-image: url(../../img/banner1.png);
    background-size: 100% !important;
    background-position: 100% 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer
{
  background: linear-gradient(80deg,#f89d89,#ffd297);
  padding-top: 80px;
}
.footer-para{
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 16px;
    }
.col-lg-3{
      /*font-weight: bolder;*/
      font-size: 18px;
}
.g-color--white-opacity-light{
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 15px;
}
@media (min-width: 768px)
{
  #partners, #conso, #jugaad
  {
      background-size: 50% !important;
      min-height: 300px;
  }
}
